/Alerts/*
/Alerts_OLD/*
/dlib/*
/Data/*
/Face Recognition.rar
/Alerts.zip
/Face Recognition/Driver_Faces/*
/Face Recognition/Driver_Faces_Updated/*
/Face Recognition/Driver_Faces_Updated_New/* 
/Face Recognition/25 Vehicles of Jeddah/*